.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2em;
    border-bottom: 1px solid darkslategrey;
}

.nav-logo img {
    max-height: 50px;
}

.nav {
    display: flex;

}

.nav-item {
    padding: 2px 1em;
    border: 0.5px solid grey;
    min-width: 60px;
    text-align: center;
   
}

.nav-item > a:link {
    text-decoration: none;
}

.nav-item :hover {
    color: gray;
}